h1
{

}

h2
{

}

h3
{

}

p
{

}

li
{

}

a
{

}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover:not(.active) {
  background-color: #E3E2DF;
  color: #EE4C7C;
}

.active {
  background-color: #E3E2DF;
}

.container
{
	padding: 10px;
	width: 90%;
}