body {
    background-color: #1A1A1D;
    margin: 0;
    font: normal 16px Arial, Helvetica, sand-serif;
    overflow: hidden;
}

#particles-js {
    margin: 0;
}

#title {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    color: #C3073F;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    letter-spacing: 0.06em;
}


/* SECTIONS */

.section {
    text-align: center;
    position: absolute;
    display: block;
    color: white;
    background-color: #EE4C7C;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
}

#vul {
    top: 10%;
    left: 80%;
}

#mal {
    top: 30%;
    left: 10%;
}

#bug {
    top: 70%;
    left: 50%;
}

.pictureitem {
    width: 95%;
}


/* SHADOW ANIMATION */

#a {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

#b {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms both;
}

#c {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        /* text drop down shadow configuration */
        text-shadow: 0 1px 0 #1A1A1D, 0 2px 0 #1A1A1D, 0 3px 0 #1A1A1D, 0 4px 0 #1A1A1D, 0 5px 0 #1A1A1D, 0 6px 0 #1A1A1D, 0 7px 0 #1A1A1D, 0 8px 0 #1A1A1D, 0 9px 0 #1A1A1D, 0 50px 30px rgba(0, 0, 0, 0.3);
        /* texts have a white color therefore to be seen, a grey stroke is used */
    }
}